$prefix: 'fx';

$base-z-index: 1500;

.listClick {
  background: #e6e6e6;
}


.icon-right {
  background: url('../../assets/images/right.png') no-repeat;
  width: 32px;
  height: 32px;
  margin-top: 6px;
}

.icon-right-on {
  background: url('../../assets/images/right_on.png') no-repeat;
}


.header {
  display: flex;
  font-size: 28px;
  justify-content: space-between;
  margin-bottom: 18px;

  .author {
    display: flex;

    .loginname {
      line-height: 60px;
    }

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
      margin-right: 20px;
    }
  }

}



