@import "../../assets/scss/variables";

.#{$prefix} {
  &-index-wrap {
    width: 100%;
    min-height: 100vh;

    .index {
      &-topbar {
        padding: 10px 50px;
        text-align: center;
        font-weight: bold;
        color: #333;
        font-size: 30px;
      }

      &-header {
        display: flex;
        font-size: 28px;
        justify-content: space-between;
        margin-bottom: 18px;

        .author {
          display: flex;
          flex-direction: row;
        }

        text {
          line-height: 60px;
        }
      }

      &-title {
        font-size: 30px;
        color: #666;
        margin-bottom: 18px;
      }

      &-footer {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        color: #9b9b9b;
      }

      &-list {
        background: #fff;
        border-bottom: 1px solid #eee;
        padding: 20px 24px;
      }

      &-list:active {
        background: #e6e6e6;
      }

      &-img {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
        margin-right: 20px;
      }
    }
  }

}

