@import "../../assets/scss/variables";

.#{$prefix} {
  &-mine-wrap {
    width: 100%;
    min-height: 90vh;

    .loginOut {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 58px;
      height: 58px;
    }

    .user-main {
      height: 200px;
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .loginAvatar {
      box-shadow: 5px 4px 6px 3px rgba(0, 0, 0, 0.25);
    }

    .loginInput {
      border-bottom: 4px solid #2d8617;
      height: 30px;
    }

  }
}
